server:
  port: 8083

spring:
  application:
    name: user-service

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: UTC

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://localhost:6543/ewm-database
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

event-service:
  name: event-service
  url: http://localhost:8081

request-service:
  name: request-service
  url: http://localhost:8082

user-service:
  name: user-service
  url: http://localhost:8083